* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

:root{
    --Dark_cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very_dark_blue: hsl(212, 21%, 14%);
    --Dark_grayish_blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

body {
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }


@font-face {
    font-family: Montserrant;
    src: url(https://fonts.google.com/specimen/Montserrat);
}

@font-face {
    font-family: Fraunces;
    src: url(https://fonts.google.com/specimen/Fraunces);
}

.container{
    display:flex ;
    flex-direction: row;
    max-width:500px;
    height: 375px;
    background-color:var(--White);
    border-radius: 15px;
    justify-content: center;
}

h1{
    color: var(--Very_dark_blue);
    font-size: 35px;
    font-family: Fraunces;
    font-weight: 700;
    padding: 15px 0px;
}

p{
    display: flex;
    font-family: Montserrant;
    font-size: 14px;
    color: var(--Dark_grayish_blue);
    vertical-align: middle;
}
.testo{
    width: 250px;
    height: 335px;
    padding: 20px;
}
.prezzo{
    color: var(--Dark_cyan);
}
.prezzoc{
    padding-top: 25px;
    padding-left: 17px;
    text-decoration: line-through;
}
button{
    display: flex;
    margin: auto;
    background-color: var(--Dark_cyan);
    color: var(--White);
    border-radius: 10px;
    padding:10px;
    font-size: 14px;
    font-weight: 500;
}
.row{
    display: flex;
    flex-direction: row;
}

.img{
    border-radius: 15px 0 0 15px;
    max-width:250px;
    width:250px;
}

.icon{
    padding-right: 10px;
}

@media screen and (max-width:500px) {
    .container{
        margin: 50px 0px;
        flex-direction: column;
        max-width:250px;
        height: auto;
    }
    .img{
        display: flex;
        width: 250px;
        border-radius: 15px 15px 0px 0px;
    }

    .testo{
        padding:15px;
        width:220px ;
    }   

    button{
        margin-bottom: 10px;
    }
    .prezzoc{
        padding-top: 30px;
        padding-left: 15px;
    }
}